%p.step_indicator 
  = step_link(1, @business.completed_step?(1), params[:step] || 1)
  >
  = step_link(2, @business.completed_step?(2), params[:step] || 1)
  >
  = step_link(3, @business.completed_step?(3), params[:step] || 1)
  >
  = step_link(4, @business.completed_step?(4), params[:step] || 1)
  