- @user = @business.user
= render 'users/details'
= form_for @user, :url => user_business_path(current_user, @business), :html => { :multipart => true } do |f|
    = hidden_field_tag :step, 5
    = render :partial => 'shared/form_submit', :locals => { :text => t('buttons.confirm') }
    