.bundle
.env
.*DS_Store
*~
*.orig
*.swp

Capfile
dump.sql
fff.csv
Membership 2014-Dinshaw010514.csv
application.yml
push_*.dat
rerun.txt
server.crt
server.key
user_list*

config/environment_variables.yml
config/application.yml
config/deploy.rb
config/database.yml
config/mail.yml
db/schema.rb
db/*.sqlite3
log/*.log
public/attached_files
public/cms_images
public/system
spec/support/env.rb
tmp/
