.bundle
db/*.sqlite3
log/*.log
tmp/
config/database.yml
db/schema.rb
config/mail.yml
rerun.txt
Capfile
config/deploy.rb
fff.csv
public/system
*.orig
*.swp
*~
.*DS_Store
server.crt
server.key
Membership 2014-Dinshaw010514.csv
user_list*
push_*.dat
.env
dump.sql
config/application.yml
spec/support/env.rb