%h3 Radio Archives
%ul.radio_archives
  - @archives.each do |archive|
    %li
      %h4=archive.title
      %p
        = archive.guest
        %br
        = archive.date
        %br
        = link_to 'Download', archive.attached_file.attachment.url if archive.attached_file 