%h3 Radio Archives
%ul.radio_archives
  - @archives.each do |archive|
    %li
      %h4=archive.title
      %p= archive.guest
      %p= archive.date
      = link_to 'Download', archive.attached_file.attachment.url if archive.attached_file 
      - archive.embeded_links.each do |embeded_link| 
        %span= embeded_link.body.html_safe