= simple_form_for(@user, :url => { :action => "update_password" } ) do |f|
  .form_section
    %h2.form_section_header Edit Password
    .form_fields
      .group
        = f.input :password, label: t('labels.password'), required: true
        = f.input :password_confirmation, label: t('labels.password_confirmation')
        %p.red * Minimum 6 characters
      = render :partial => 'shared/form_submit', :locals => { :text => t('update') }
