%div.announcement
	%span#body= current_announcement.body
	%a#url{:href => "#{current_announcement.link}", :target => "_blank"}
		= current_announcement.button
	%a.hide{:href => "#", :data => {:created_at => "announcement_#{current_announcement.created_at}"}} X
