%div.current_announcement
	%span#body= current_announcement.body
	%a#url{:href => "#{current_announcement.url}"}
		%button= current_announcement.button
	%span.hide
		=link_to_function "hide", "hideAnnouncement('announcement_#{current_announcement.created_at}')"
	