%h3 Upcoming Events
%ul.events
  - @events.each do |event|
    %li
      - if !event.url.blank?
        %h4=link_to event.title, event.url, target: '_blank'
      - else
        %h4=link_to event.title, event
      %h5= event.times
      %p= truncate_html event.description, length: 200
