%ul.events
  - @events.each do |event|
    .page_section
      %h2= event.times
      %div{:class => "center-block"}
      - if !event.url.blank?
        %center
          %h4= link_to event.title, event.url, target: '_blank'
      - else
        %center
          %h4= link_to event.title, event
      -#%h5= event.times
      %p= truncate_html event.description, length: 200
