
.thumbnail {
  margin: $padd-sides $padd-sides $padd-sides 0;
  img {
    background-color:white;
    padding: 2px;
    border:1px solid $dark-blue;    
  }
}

audio {
  display:block;
  margin: $padd-sides $padd-sides $padd-sides 0;  
}

