
.amazonbutton{
  display: inline-block;
  text-align: left;
  width: 600px;
  height: auto;
  /*color: red;*/
  font-size: 12px;
  font-style: bold;
  padding: 8px 0 10px 20px;
  
  /*
  background-color: pink;
  border-style: solid;
  border-color: black;
  border-width: 3px;
  */
}

.shrinkwrap{
  display: inline-block;
  text-align: center;
}

.amazonauthor{
  display: inline-block;
  text-align: left;
  width: 100%;
  margin: 0;
  padding: 1px 0;
  font-size: 14px;
  font-style: bold;

  
  /*
  background-color: yellow;
  border-style: solid;
  border-color: green;
  border-width: 3px;
  */
}

.usamazonbutton, .ukamazonbutton, .cadamazonbutton{
  display: inline-block;    /* shrink wrap */
  text-align: center;       /* shrink wrap */
  width: auto;
  margin: 0 10px;

  /*
  border:solid; 
  color:blue;
  */
}

.mynewclass{
}


