// Place all the styles related to the sitterforms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.url_input_box {
  width: 80%;
  maxlength: 10;
}

.green-color { color: blue;}

.medium_label
{
    font-size: 12px;
    colspan: 2;
    text-align: right;
}

.big_box
{
  width: 100%;
  height: 100px;
  maxlength: 500;
}

.textfield_url
{
  width: 80%;
}