AWS_ACCESS_KEY_ID:            '123'
AWS_REGION:                   us-east-1
AWS_S3_ATTACH_FILES:          fff_attached_files
AWS_S3_BUCKET_NAME:           fff_attached_files
AWS_S3_IMAGE_FILES:           fff_cms_images
AWS_SECRET_ACCESS_KEY:        '123'
GMAIL_PASSWORD:               'password'
GMAIL_USERNAME:               info@foreverfamilyfoundation.org
HONEYBADGER_API_KEY:          '123'
HOST:                         foreverfamilyfoundation.org
PAPERTRAIL_API_TOKEN:         '123'
RECAPTCHA_PRIVATE_KEY:        '123'
RECAPTCHA_PUBLIC_KEY:         '123'
STRIPE_API_KEY:               '123'
STRIPE_PUBLIC_KEY:            '123'

test:
  RECAPTCHA_PUBLIC_KEY:       "6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI"
  RECAPTCHA_PRIVATE_KEY:      "6LeIxAcTAAAAAGG-vFI1TnRWxMZNFuojJ4WifJWe"
