ul.events {
  list-style: none;    
  padding:0;
  li {
    border: 1px solid $light-gray;
    border-width: 0 0 1px 0;
    margin-bottom: 15px;
    h4{
      font-size:14px;
      margin:0;
    }
    h5{
      margin:5px 0;
    }
  }
}

.upcoming_events {
  float:right;
  text-align:center;
  h2 {
    margin:0;
    padding:5px;
    color: $dark-blue;
    background: $light-blue;
    @include border-top-radius($default-border-radius);  
    text-transform:uppercase;
    font-weight:bold;
  }
  
  ul {
    margin:0;
    padding:5px 0 10px 0;
    background: $dark-blue;    
    @include border-bottom-radius($default-border-radius);      
    li {
      padding:5px $padd-sides;
      font-wight:normal;
      list-style:none;
      a {
        color: $light-blue;
      }
    }
  }
}
  