#footer {
  width: $page-width;
  color:#a09f9f;
  font:9px Verdana;
  margin:auto;
  text-align:center;
  p {
    padding: $padd-top $padd-sides 0 $padd-sides;
    text-align:left;
  }

  ul#footer_nav{
    padding: 0 $padd-sides 0 $padd-sides;
    li {
      display: inline-block;
      border-right:1px solid $light-blue;
      margin:$padd-sides/2 0;
      color:$light-blue;
      font-size:11px;
      a {
        text-decoration:none;
        padding: 0 $padd-sides 0 $padd-sides;
        color:$light-blue;
        font-size:11px;

        &:hover{
          text-decoration:underline;
        }
      }
      &.last {
        border:0;
      }
      &.no_link {
        padding: 0 $padd-sides 0 $padd-sides;
      }
    }
  }

}