.progress_spinner {
  display: none; 
}

.simple_form label {
  display:block;
  font-weight:normal;
  abbr {
    border: none;
	color: $error-red;
  }
  &.radio {
    display:inline-block;
    font-weight:normal;
  }
}

fieldset {
  legend {
    padding:0 $padd-sides;
  }
  
}
.field_with_errors {
  color:$error-red;
  input {
    border:1px solid $error-red;
  }
}
input[type=text], input[type=password], input[type=email], input[type=file]  {
  width: 160px;
  margin-top:3px;
}

input[type=checkbox] {
  float:left;
  margin:3px 10px 3px 0;
}

textarea {
  height:4em;
  width: 400px;
}

.form_section, .page_section {
  background: $light-grey;
  @include border-radius($default-border-radius);
  padding:0;
  margin-bottom:15px;
  
  h2 {
    @include border-top-radius($default-border-radius);
    color: $dark-blue;
    background: $light-blue;
    text-transform:uppercase;
    font-weight:bold;
    padding:5px 10px;
    margin:0;
  }

  .form_fields, .section_content {
    padding: $padd-sides;
    
    p {
      margin:0;
    }

    .group p{
      display:inline-block;
      margin-right:$padd-sides;
    }

    p.file_upload {
        label {
                
        }
      }
  }
}

ul.auth_links {
  @include link-list-ul;
  padding-top:$padd-top;
}

#error_explanation {
  h2 {
    color:$error-red;
    font-weight:bold;
  }
  
  li {
    color:red;
  }
}

p.button_row {
  padding-top: 10px;
}

p.use_biz_address {
  @include clearfix;
  padding-bottom: 5px;
}