.afterlife {
  color: $dark-blue;
  font-style: italic;
  font-weight: bold;
}

.callout {
  @include box-shadow(#ccc -3px 3px 3px);
  float:left;
  background: $light-grey;
  @include border-radius($default-border-radius);
  margin:0 0 6px 6px;

  div {
    float:left;
    width:50%;
    margin:0;
  }

  h2 {
    color: $dark-blue;
    background: $light-blue;
    text-transform:uppercase;
    font-weight:bold;
    padding:5px 10px;
    margin:0;
  }

  h3 {
    font-size: 13px;
    font-weight:normal;
    text-transform: none;
    padding:5px 10px 5px 10px;
    margin:0;
  }

  p {
    padding: 10px;
    margin:0;
  }
  .signs_of_life_radio {
    width:330px;
    border-right:2px solid white;
    h2 {
      @include border-top-left-radius($default-border-radius);
    }
  }

  .become_a_member {
    position:relative;
    h2 {
      @include border-top-right-radius($default-border-radius);
    }

    .free_star {
      position:absolute;
      top:5px;
      right:5px;
      background-image:url('http://s3.amazonaws.com/fff_cms_images/images/5/original/free-star.gif?1329974723');
      height:59px;
      width:90px;
    }

    p {
      margin-top:20px;
    }
  }
}

