.afterlife {
  color: $dark-blue;
  font-style: italic;
  font-weight: bold;
}

// this is the "free" star
.free_star {
  position:absolute;
  top:5px;
  right:5px;
  background:transparent image-url('free-star.gif') no-repeat top;
  height:59px;
  width:90px;
}

// this is the split box
.callout {
  @include box-shadow(#ccc -3px 3px 3px);
  float:left;
  background: $light-gray image-url('white-stripe-2px.gif') repeat-y top;
  @include border-radius($default-border-radius);
  margin:0 0 6px 6px;

  div {
    float:left;
    width:50%;
    margin:0;
  }

  .video-bottom-margin{
    margin-bottom:15px;
  }

  h2 {
    color: $dark-blue;
    background: $light-blue;
    text-transform:uppercase;
    font-weight:bold;
    padding:5px 10px;
    margin:0;
  }

  p {
    padding: 10px;
    margin:0;
  }
  .callout-left {
    h2 {
      border-right:1px solid white;
      @include border-top-left-radius($default-border-radius);
    }
    
  

    img.right {
      float:right;
      margin:15px;
    }
  }

  .callout-right {
    position:relative;
    #h2-free{
      border-left:1px solid white;
      @include border-top-right-radius($default-border-radius);
      margin-bottom:25px;
    }
    h2 {
      border-right:1px solid white;
      @include border-top-right-radius($default-border-radius);
    }

    h3 {
      text-transform:uppercase;
      padding:5px 10px 0 10px;
      margin:0;
    }

  }
}

