@include sticky-footer(200px, "#layout", "#footer_spacer", "#footer");

html, body, #container {
  height: 100%;
  font:13px Verdana, sans-serif;
}

body {
  background:#000 image_url('header.jpg') no-repeat top;
  padding-top: 90px; // allow for logo
}

#layout {
  @include border-radius;  
  width:$page-width;
  margin:0 auto;
  background-color:#fff;
}

#container {
  padding: 0 $padd-sides;
  @include container;
  #footer {
    @include column(25); }
  #sidebar {
    @include column(6);  
    background-color:#fff; }
  #content {
    @include border-radius;  
    @include column(17, true);  
    background-color:#fff; 
  }
  
  #content_main {
    float:left;
    @include clearfix;
    margin-top: $padd-top*2;
    padding-right: $padd-sides;
  }
  
}
  
