@include sticky-footer(200px, "#layout", "#footer_spacer", "#footer");

html, body {
/*  height: 100%;*/
  font:13px Verdana, sans-serif;
}

body {
  background-color:#000;
}

#layout {
  margin-left:auto;
  margin-right:auto;  
}

#logo {
  height: 90px; // allow for logo  
  background:#000 image_url('header.jpg') no-repeat top;
}

#container {
  @include border-radius($default-border-radius);  
  width:$page-width;
  background-color:#fff;
  padding: 0 $padd-sides $padd-top $padd-sides;
  @include container;
  #footer {
    @include column(25); }
  #sidebar {
    @include column(6);  
    background-color:#fff; }
  #content {
    @include border-radius($default-border-radius);  
    @include column(17, true);  
    background-color:#fff; 
  }
  
  #content_main {
    width:100%;
    float:left;
    @include clearfix;
    margin-top: $padd-top;
    padding-right: $padd-sides;
  }
  
}
  
