.nav {
  margin:0;
  padding:0;
  li {
    margin:0;
    padding:0;
    list-style:none;
  }
  a{
    color:$dark-blue;
    text-decoration:none;
    &:hover {
      text-decoration:underline;
    }
  }
}

#global_nav{
  float:left;
  margin-top:0;
  margin-right:$padd-sides*2;

  li {
    @include inline-block;
    margin:0;
    padding:$padd-top $padd-top 0 5px;
    background:image_url('nav-dot.gif') no-repeat right 25px;

    &.first {
      padding-left:0;
    }
    &.last {
      background-image:none;
    }
    a{
      position:relative;
      font-size:13px;
      font-weight:bold;
    }
    

    img.current {
      position:absolute;
      // adjust for a white line at top with -2
      top: -$padd-top - 2px;
      left: 50%;
      // pull image back to center
      margin-left:-10px;
    }
  }
}

#user_nav {
  float:left;
  margin-top:20px;
  
  li {
    @include inline-block;
    margin:0;
    padding:0 10px;

    &.first {
      padding-left:0;
      border-right:1px solid $dark-blue;      
    }
  }
  
}

#site_nav {
  float:left;
  margin-top: $padd-top;
  margin-bottom: $padd-top;
  li {
    font-size:14px;
    padding: 0 0 $padd-top/2 0;
    
    a {
      padding-left: 17px;
      background:url(image_path('nav-star.gif')) no-repeat left;
    }
  }
  
  &.current {
    font-weight:bold;
  }
}
