.page_section .section_content {
  ul {
    li {
      list-style:none;
      font-size: 14px;
      padding:2px;
      span {
        font-style: italic;
      }
    }
  }
  
  ul.profile_edit_links {
    @include link-list-ul;
    li {
      a {
        font-weight: normal;
        text-decoration: underline;
      } 
    }
  }
  
}

.thumbnail {
  margin: $padd-sides $padd-sides $padd-sides 0;
  img {
    background-color:white;
    padding: 2px;
    border:1px solid $dark-blue;    
  }
}

audio {
  display:block;
  margin: $padd-sides $padd-sides $padd-sides 0;  
}

