// Place all the styles related to the sitterforms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.url-input-box {
  width: 80%;
}

.green-color { color: blue;}

.medium_label
{
    font-size: 14px;
    colspan: 2;
    text-align: right;
}