.user-show {
  @extend %fa-icon;
  @extend .fal;

  .personal-information {
    .edit-pencil {
      float: right;
      margin-left: 2em;
    }

    li {
      height: 2.5em;
      position: relative;
      padding-left: 3rem;
      &:before {
        left: $margin;
        position: absolute;
      }
      &.email {
        &:before {
          content: fa-content($fa-var-envelope);
        }
      }
      &.name {
        &:before {
          content: fa-content($fa-var-user-alt);
        }
      }
    }
  }
}
