$content-width: 950px;
$padd-top: 20px;
$padd-sides: 15px;
$default-border-radius: 15px;
$page-width: $content-width + $padd-sides;
//colors
$light-blue: #aacaf9;
$dark-blue: #084296;
$light-grey: #edf3f9;
$error-red:red;